@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", "Tiro Bangla", sans-serif;
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(184, 239, 253) !important; /* yellow-100 */
}

@layer utilities {
  @media (min-width: 200px) {
    .padding {
      padding-top: 100px;
    }
  }

  @media (min-width: 400px) and (max-width: 700px) {
    .padding {
      padding-top: 150px;
    }
  }
  @media (min-width: 701px) and (max-width: 1024px) {
    .padding {
      padding-top: 120px;
    }
  }

  @media (min-width: 701px) {
    .padding {
      padding-top: 180px;
    }
  }
}

.f-center {
  @apply flex justify-center items-center;
}

.trans {
  @apply transition-all duration-300 ease-in-out;
}

.title-cmn {
  @apply text-[#102542] text-lg md:text-xl font-bold;
}

.title-cmn-small {
  @apply text-[#102542] text-xl font-bold;
}

.card-cmn {
  @apply rounded-2xl border border-main-200 px-6 py-7 bg-white;
}

/* .box-shadow-cmn{
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
} */

/* for sidebar dropdown */
.transition-max-height {
  transition: max-height 0.5s ease-in-out;
}

.ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

@layer utilities {
  /*==========TABLE START============*/
  .table {
    @apply w-full text-text-700 text-base md:text-base rounded-lg;
  }

  .table_head {
    @apply table-header-group align-middle border-inherit border-separate bg-main-200 rounded-tl-lg rounded-tr-lg font-semibold;
  }

  .table_head_yellow {
    @apply table-header-group align-middle border-inherit border-separate bg-status-alert rounded-tl-lg rounded-tr-lg font-semibold;
  }

  .table_row {
    @apply table-row align-[inherit] border-inherit;
  }

  .table_th {
    @apply p-4 align-middle border-l whitespace-nowrap border-neutral-100 font-semibold text-text-700 first:rounded-tl-lg last:rounded-tr-lg;
  }

  .table_td {
    @apply p-4 align-middle border-t border-neutral-100 text-text-700;
  }

  .pulse {
    @apply bg-text-200 animate-pulse;
  }

  /*==========TABLE END============*/
}
.css-mnyndp-control {
  padding: 0px !important;
}
